<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block head_title %}<title></title>{% endblock head_title %}<title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.unpkg.com/tailwindcss@2.0.1/dist/tailwind.min.css">
    </head>
    <body>
        {% block content %}
        hi this is me samiul
        {% endblock content %}
    </body>
</html>